<mat-card class="login-page">
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>

    <form class="login-form data-form" #loginForm="ngForm" (ngSubmit)="login(loginForm, $event)">

      <mat-form-field>

        <input matInput type="email" placeholder="Email" [(ngModel)]="val.email" (ngModelChange)="onEmailChange($event)"
          [ngModelOptions]="{name: 'Email'}" #email="ngModel" required minlength="3" maxlength="23" email>
        <!-- [ngModel]="val.email"   = UNIDirectional -->
        <!-- [(ngModel)]="val.email" = BIODirectional -->

        <mat-error *ngIf="email.errors?.required">Email is mandatory.</mat-error>
        <mat-error *ngIf="email.errors?.email">This is not a valid error.</mat-error>
        <mat-error *ngIf="email.errors?.minlength">
          Your email must have minimum {{email.errors?.minlength.requiredLength}} chars,
          but it only has {{email.errors?.minlength.actualLength}}.
        </mat-error>

      </mat-form-field>

      <mat-form-field>

        <input matInput type="password" placeholder="Password" name="password" [(ngModel)]="val.password" #password="ngModel"
          required passwordStrength>
        
        <mat-error *ngIf="password.errors?.required">Password is mandatory.</mat-error>
        
        <mat-error *ngIf="password.errors?.passwordStrength">
          Your password must have lowerCase, upperCase and Numeric characters.
        </mat-error>
        
        </mat-form-field>

      <button mat-raised-button color="primary" [disabled]="!loginForm.valid">
        Login
      </button>

    </form>

    <div class="form-val">
      {{ loginForm.value | json }}
    </div>

  </mat-card-content>
</mat-card>