<mat-card class="login-page">
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>

    <!-- 
      ANGULAR has already implicitly applied a directive to this form element, even though we haven't added anything here on our 
      template.That directive that these implicitly apply to every form element on our application is known as the NGForm Directive.
      One of the features of this NGform directive is that it produces one export which points unto itself. So let's go ahead and let's
      grab this export by defining here a template variable. #loginForm="ngForm" 
    -->

    <!-- #loginForm is know as template variable-->
    <form class="login-form data-form" #loginForm="ngForm">

      <mat-form-field>

        <input matInput type="email" name="email"
               placeholder="Email">

      </mat-form-field>

      <mat-form-field>

        <input matInput type="password" placeholder="Password">

      </mat-form-field>

      <button mat-raised-button color="primary" (click)="login(loginForm)">
        Login
      </button>

    </form>

  </mat-card-content>
</mat-card>
